@font-face {
    font-family: 'CaviarDreams_Bold';
    src: url(../fonts/CaviarDreams_Bold.ttf);
}

@font-face {
    font-family: 'CaviarDreams';
    src: url(../fonts/CaviarDreams.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: aliceblue;
    border-bottom: 3px solid rgb(11, 96, 200);
    text-align: center;
    padding: 20px 0 20px 0;
}

header a {
    font-size: 30px;
    letter-spacing: 6px;
    text-decoration: none;
    color:rgb(19, 44, 155);
    font-weight: 1000;
    font-family: 'CaviarDreams_Bold', Arial, Helvetica, sans-serif;
} 

header a:hover {
    font-size: 40px;
    color:rgb(11, 96, 200);
}

main {
    background-image: url(https://www.wallpapertip.com/wmimgs/58-580207_aesthetic-blue-background-for-computer.jpg);
    background-size: cover;
    height: 100vh;
}

main div {
    background-color: black;
    opacity: .8;
    min-height: 100%;
    padding-top: 50px;
}

section {
    margin: auto;
    max-width: 50%;
    background-color: aliceblue;
    border: 3px solid rgb(11, 96, 200);
    text-align: center;
}

section h1 {
    font-size: 36px;
    padding: 20px;
    color:rgb(19, 44, 155);
    font-family: 'CaviarDreams_Bold', Arial, Helvetica, sans-serif;
}

section p {
    font-size: 24px;
    padding: 0 20px 20px;
    line-height: 50px;
    font-family: 'CaviarDreams', Arial, Helvetica, sans-serif;
}